black
flake8
pytest
mypy
docformatter
pre-commit==3.8.0
pydocstyle==6.1.1
toml
wikitextparser
langchain-text-splitters
matplotlib
numpy
python-dotenv
pandas
elasticsearch==8.17.0
pyarrow
bert-score
requests
tqdm
deepeval